name: CI

on:
  push:  

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: 3.11

    - name: Download text file
      uses: actions/download-artifact@v5
      with:
        name: requirements-text-file
        path: requirements.txt

    - name: Install dependencies
      run: |
        pip install -r requirements.txt
